---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import RecipeCard from '../../features/recipes/RecipeCard.astro';
import RecipeFooter from '../../features/recipes/RecipeFooter.svelte';

let allRecipes = await getCollection('recipes');

let uniqueTags = allRecipes.reduce((acc, recipe) => {
  recipe.data.tags.forEach((tag) => {
    acc.add(tag);
  });

  return acc;
}, new Set());

let availableTags = Array.from(uniqueTags);

function alphabeticallyByTitle(a: any, b: any) {
  return a.data.title.localeCompare(b.data.title, 'sv');
}

const recipeListId = 'recipe-list';
---

<Layout>
  <section>
    <h1>Recept</h1>
    <ul id={recipeListId}>
      {allRecipes
        .sort(alphabeticallyByTitle)
        .map((recipe) => (
          <li data-tags={recipe.data.tags.join(';')}>
            <RecipeCard slug={recipe.data.slug} title={recipe.data.title} tags={recipe.data.tags} />
          </li>
        ))}
    </ul>
  </section>
  <RecipeFooter
    client:load
    availableTags={availableTags}
    recipeListId={recipeListId}
  />
</Layout>

<style>
    section {
        padding: 1rem 1rem 3.75rem 1rem;
    }

    h1 {
        margin-top: 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul > li {
        margin: var(--spacing-md) 0;
    }
</style>
